@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  padding: 0;
  margin: 0; }

body {
  background-color: #a4a5a5 201, 214, 223; }

img {
  width: 100%; }

@media screen and (max-width: 800px) {
  .grupoUno {
    width: 100%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; }
  .destacadas__column--sm {
    flex-wrap: wrap;
    flex: 50%; }
  .text-1 {
    font-size: 1em; }
  .boxSocial {
    position: fixed; }
  .contenedorPie .grupoUno .box a img {
    display: none; }
  .box h2 {
    display: flex;
    flex-direction: row; }
  section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px; }
  .estiloA .imgContainer img {
    display: flex;
    justify-content: center; }
  .card {
    width: 67%; }
  .grupoUno {
    width: 90%;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    padding: 35px 0px; } }

header a img {
  width: 20vh; }

/*Nombres Grillas*/
#encabezado {
  grid-area: enc; }

#menu {
  grid-area: men; }

#carouselExampleControls {
  grid-area: car; }

#contenedorUno {
  grid-area: co1; }

#pie {
  grid-area: pie; }

/*grillas*/
#contenedor {
  display: grid;
  grid-template-areas: "enc enc enc" "men men men" "car car car" "co1 co1 co1" "pie pie pie";
  grid-template-columns: 3 auto;
  grid-template-rows: repeat(5, auto);
  margin: 1vh; }

/*cerramos grillas*/
/*Destacados y Novedades*/
.main {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.contenedor__tittle--color {
  text-align: center;
  transition: all;
  color: #c9d6df;
  margin-top: 5px;
  background-color: #1e2022; }

.contenedorRow {
  padding: 5px; }
  .contenedorRow .contenedorRow__column--padding {
    padding: 5px; }
    .contenedorRow .contenedorRow__column--padding img {
      margin-top: 5px;
      box-shadow: 0 0.1rem 0.4rem gray;
      transition: all; }

.contenedorInfo__img--shadow {
  background-image: url(../img/destacado1.webp);
  background-size: cover;
  width: 100%;
  height: 300px;
  box-shadow: 0 0.1rem 0.4rem gray;
  transition: all; }
  .contenedorInfo__img--shadow .contenedorInfo__titulo--display {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    color: white;
    text-decoration: none;
    font-size: 3vh;
    text-shadow: 0 0.1rem 0.4rem gray; }
    .contenedorInfo__img--shadow .contenedorInfo__titulo--display a {
      text-decoration: none;
      color: white; }
      .contenedorInfo__img--shadow .contenedorInfo__titulo--display a a:hover {
        color: gray; }

.contenedorImg__imagen--shadow {
  box-shadow: 0 0.1rem 0.4rem gray;
  transition: all; }

/*Caja Productos Img*/
section {
  width: 100%;
  display: flex;
  justify-content: space-around; }

.card {
  width: 33%; }

.estiloA a {
  text-decoration: none;
  color: black; }

.estiloA a:hover {
  text-decoration: underline; }

.estiloA .imgContainer {
  overflow: hidden; }

.estiloA .imgContainer img {
  width: 100%;
  transition: all 0.5s; }

.estiloA:hover .imgContainer img {
  transform: scale(1.2); }

/*bucles*/
.text-1 {
  font-size: 2em; }

.text-2 {
  font-size: 4em; }

#pie {
  width: 100%; }

.grupoUno {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 50px;
  padding: 45px 0px; }

.grupoUno .box a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center; }

.grupoUno .box img {
  width: 250px; }

.grupoUno .box h2 {
  color: #c9d6df;
  margin-bottom: 25px;
  font-size: 30px; }

.grupoUno .box p {
  color: rgba(0, 0, 0, 0.493);
  margin-bottom: 10px; }

.grupoUno .box .redSocial a {
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #c9d6df;
  margin-right: 10px;
  background-color: #1e2022;
  text-align: center;
  transition: all 300ms ease; }

.grupoUno .box .redSocial a:hover {
  color: aquamarine; }

.grupoDos {
  background-color: #c9d6df;
  padding: 15px 10px;
  text-align: center; }

.grupoDos small {
  font-size: 15px; }
