//definimos vars

$primary: rgb(240, 245, 249);
$secondary: rgb(201, 214, 223);
$third: rgb(164, 165, 165)(201, 214, 223);
$fourth: rgb(30, 32, 34);

// display
$d-block: block;
$d-flex: flex;
$d-inline: inline;

// sizing
$w-100: 100%;
$w-300: 300px;