@media screen and (max-width: 800px){

    .grupoUno{
        width: 90% !important;
        grid-template-columns: repeat(1, 1fr) !important;
        grid-gap: 30px !important;
        padding: 35px 0px !important;
    }

    .card{
        width: 67%;
    }

    .destacadas__column--sm{
        flex-wrap: wrap;
        flex: 50%;
    }

    .text-1{
        font-size: 1em;
    }

    .contenedorPie .grupoUno .box a img{
        display: none;
    }

    .box h2{
        display: flex;
        flex-direction: row;
    }

    section{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
    
  
    .estiloA .imgContainer img{
        display: flex;
        justify-content: center;
    }

}
